addons/ui/org.openhab.ui.cometvisu/src/main/resources/visu_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">

  <!-- basic types -->
  <xsd:simpleType name="addr">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]{1,2}/[0-9]{1,2}/[0-9]{1,3}|[A-Za-z][A-Za-z0-9_\-\.:]*)" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dimension">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>

  <xsd:simpleType name="uri">
    <xsd:restriction base="xsd:anyURI" />
  </xsd:simpleType>

  <xsd:complexType name="layout">
    <xsd:attribute name="colspan" type="xsd:decimal" use="optional" />
    <xsd:attribute name="colspan-m" type="xsd:decimal" use="optional" />
    <xsd:attribute name="colspan-s" type="xsd:decimal" use="optional" />
    <xsd:attribute name="rowspan" type="xsd:decimal" use="optional" />
    <xsd:attribute name="x" type="xsd:string" use="optional" />
    <xsd:attribute name="y" type="xsd:string" use="optional" />
    <xsd:attribute name="z" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="address">
    <xsd:simpleContent>
      <xsd:extension base="addr">
        <xsd:attribute ref="transform" use="required" />
        <xsd:attribute ref="mode" use="optional" />
        <xsd:attribute name="variant" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="entry" mixed="true">
    <xsd:annotation>
        <xsd:appinfo>descriptor:#text</xsd:appinfo>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="icon" type="icon" />
    </xsd:choice>
    <xsd:attribute ref="value" />
    <xsd:attributeGroup ref="range" />
    <xsd:attribute name="default" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Marks the entry as being the default entry in case of non-existing applicable entries.</xsd:documentation>
        <xsd:documentation xml:lang="de">Markiert den Entry als Standard-Entry für den Fall, dass kein anderer passender Entry gefunden werden kann.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- simple elements -->
  <xsd:complexType name="icon">
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute name="color" type="xsd:string" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="class" use="optional" />
  </xsd:complexType>

  <!-- attributes -->
  <xsd:attribute name="min" type="xsd:decimal" />
  <xsd:attribute name="max" type="xsd:decimal" />
  <xsd:attribute name="step" type="xsd:decimal" />

  <xsd:attribute name="transform" type="xsd:string" />
  <xsd:attribute name="format" type="xsd:string" />

  <xsd:attribute name="timeformat" type="xsd:string" >
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[The time format for formatting the x-axis of diagrams with following placeholders:<br/>
        %a: weekday name (customizable)
        %b: month name (customizable)
        %d: day of month, zero-padded (01-31)
        %e: day of month, space-padded ( 1-31)
        %H: hours, 24-hour time, zero-padded (00-23)
        %I: hours, 12-hour time, zero-padded (01-12)
        %m: month, zero-padded (01-12)
        %M: minutes, zero-padded (00-59)
        %q: quarter (1-4)
        %S: seconds, zero-padded (00-59)
        %y: year (two digits)
        %Y: year (four digits)
        %p: am/pm
        %P: AM/PM (uppercase version of %p)
        %w: weekday as number (0-6, 0 being Sunday)]]>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="timeformatTooltip" type="xsd:string" >
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The time format for formatting the tooltip's time value. See timeformat attribute for possible values
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attributeGroup name="range">
    <xsd:attribute name="range_min" type="xsd:float" />
    <xsd:attribute name="range_max" type="xsd:float" />
  </xsd:attributeGroup>

  <xsd:attribute name="mapping" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Map the bus value to a different value for displaying.</xsd:documentation>
      <xsd:documentation xml:lang="de">Ordnet den Werten vom Bus andere zur Anzeige zu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="styling" type="xsd:string" />
  <xsd:attribute name="value" type="xsd:string" />
  <xsd:attribute name="flavour" type="xsd:string">
    <xsd:annotation>
        <xsd:appinfo>level:expert</xsd:appinfo>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="target" type="xsd:string">
    <xsd:annotation>
      <xsd:appinfo>level:expert</xsd:appinfo>
      <xsd:documentation xml:lang="en">The name of the page, that should be shown.</xsd:documentation>
      <xsd:documentation xml:lang="de">Der Name der Seite, die angezeigt werden soll.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="mode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="disable" />
        <xsd:enumeration value="read" />
        <xsd:enumeration value="write" />
        <xsd:enumeration value="readwrite" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:attribute name="class" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Add this value to the CSS class so that it can be formated by a user provided style sheet.</xsd:documentation>
      <xsd:documentation xml:lang="de">Füge dieses Attribut der CSS Klasse hinzu, so dass das Widget durch ein eigenes Stylesheet zusätzlich formatiert werden kann.</xsd:documentation>
      <xsd:appinfo>level:expert</xsd:appinfo>
    </xsd:annotation>
  </xsd:attribute>
  
  <xsd:simpleType name="rss_mode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="first" />
      <xsd:enumeration value="last" />
      <xsd:enumeration value="rollover" />
    </xsd:restriction>
  </xsd:simpleType>
      
  <xsd:attribute name="series">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="hour" />
              <xsd:enumeration value="day" />
              <xsd:enumeration value="week" />
              <xsd:enumeration value="month" />
              <xsd:enumeration value="year" />
              <xsd:enumeration value="fullday" />
              <xsd:enumeration value="custom" />
          </xsd:restriction>
      </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="seriesStart" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">In case series attribute is of type "custom" the value of this attribute is used for the start of the series.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="seriesEnd" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">In case series attribute is of type "custom" the value of this attribute is used for the end of the series.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="seriesResolution" type="xsd:integer">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">In case series attribute is of type "custom" the value of this attribute is used for the resolution of the series.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="consolidationFunction">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="AVERAGE" />
              <xsd:enumeration value="LAST" />
              <xsd:enumeration value="MIN" />
              <xsd:enumeration value="MAX" />
          </xsd:restriction>
      </xsd:simpleType>
  </xsd:attribute>
  
  <xsd:attribute name="align">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="left" />
        <xsd:enumeration value="right" />
        <xsd:enumeration value="center" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="variant" type="xsd:string" />

  <xsd:attribute name="legendposition">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="nw">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">topleft</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="ne">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">topright</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="sw">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">bottomleft</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="se">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">bottomright</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:attribute name="legend">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="both" />
        <xsd:enumeration value="inline" />
        <xsd:enumeration value="popup" />
        <xsd:enumeration value="none" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  
  <xsd:attribute name="backend">
    <xsd:annotation>
        <xsd:appinfo>level:expert</xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="cgi-bin" />
        <xsd:enumeration value="oh" />
        <xsd:enumeration value="oh2" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:simpleType name="navbarPositionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top" />
      <xsd:enumeration value="left" />
      <xsd:enumeration value="right" />
      <xsd:enumeration value="bottom" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:attribute name="bind_click_to_widget" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">use the whole widget area to react on click events</xsd:documentation>
	  <xsd:documentation xml:lang="de">Beim aktivieren dieser Option wird die gesammte Widget Fläche als Schaltfläche genutzt</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  

  <xsd:attribute name="lang">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="de">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">german</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="en">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">english</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="es">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">spanish</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="fr">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">french</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="it">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">italian</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="ru">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">russian</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:attribute name="linktarget">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="_new" />
        <xsd:enumeration value="_blank" />
        <xsd:enumeration value="_self" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>



  <!-- complex elements -->
  <xsd:element name="pages">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="meta" type="meta" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="page" type="page" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="design" type="xsd:string" use="required" >
          <xsd:annotation>
          <xsd:documentation xml:lang="en">Select the main design.</xsd:documentation>
          <xsd:documentation xml:lang="de">Hier wird das Design für die Visu ausgewählt</xsd:documentation>
          </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute ref="backend" use="optional" />
      <xsd:attribute ref="bind_click_to_widget" use="optional"/>
      <xsd:attribute name="scroll_speed" type="xsd:decimal" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="max_mobile_screen_width" type="xsd:decimal" use="optional" >
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="min_column_width" type="xsd:decimal" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="default_columns" type="xsd:decimal" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="lib_version" type="xsd:integer" use="required">
          <xsd:annotation>
              <xsd:documentation xml:lang="en">Version of the CometVisu-library. This value is for the Upgrade-Script</xsd:documentation>
              <xsd:documentation xml:lang="de">Version der CometVisu-library. Dieser Wert ist für das Upgrade-Script</xsd:documentation>
              <xsd:appinfo>level:expert</xsd:appinfo>
          </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="screensave_time" type="xsd:decimal" use="optional">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Time in seconds till the screensave_page will be jumped to.</xsd:documentation>
            <xsd:documentation xml:lang="de">Zeit in Sekunden bis die Visu zur screensave_page zurück scrollt. </xsd:documentation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="screensave_page" type="xsd:string" use="optional">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Page to jump to when after the screensave_time elapsed without user input.</xsd:documentation>
            <xsd:documentation xml:lang="de">Seite die als screensave_page genutzt werden soll. </xsd:documentation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="meta">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="plugins" type="plugins" />
      <xsd:element name="icons" type="icons" />
      <xsd:element name="mappings" type="mappings" />
      <xsd:element name="stylings" type="stylings" />
      <xsd:element name="statusbar" type="statusbar" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="plugins">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="plugin" type="plugin" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="plugin">
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:group name="AvailablePlugins">
    <xsd:choice>
      <xsd:element name="clock" type="clock" />
      <xsd:element name="colorchooser" type="colorchooser" />
      <xsd:element name="diagram_info" type="diagram_info" />
      <xsd:element name="diagram" type="diagram" />
      <xsd:element name="rss" type="rss" />
      <xsd:element name="rsslog" type="rsslog" />
      <xsd:element name="strftime" type="strftime" />
      <xsd:element name="svg" type="svg" />
      <xsd:element name="upnpcontroller" type="upnpcontroller" />
      <xsd:element name="timeout" type="timeout" />
	  <xsd:element name="gauge" type="gauge" />
	  <xsd:element name="calendarlist" type="calendarlist" />
	  <xsd:element name="infoaction" type="infoaction" />
    </xsd:choice>
  </xsd:group>

  <xsd:complexType name="icons">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="icon-definition" type="icon-definition" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="icon-definition">
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="uri" type="uri" use="required" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute name="color" type="xsd:string" use="optional" />
    <xsd:attribute name="styling" type="xsd:string" use="optional" />
    <xsd:attribute name="dynamic" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="mappings">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="mapping" type="mapping" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="mapping">
    <xsd:sequence>
      <xsd:element name="formula" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="stylings">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="styling" type="styling_entry" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="styling_entry">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="entry" type="entry" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="status">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="xsd:string" use="optional" />
        <xsd:attribute name="condition" type="xsd:string" use="optional" />
        <xsd:attribute name="hrefextend" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="statusbar">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="status" type="status" minOccurs="1" />
    </xsd:choice>
  </xsd:complexType>

  <!-- define a page -->
  <xsd:complexType name="page">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="page" type="page" />
        <xsd:element name="group" type="group" />
        <xsd:element name="navbar" type="navbar" />
        <xsd:group ref="Widgets"/>
        <xsd:group ref="AvailablePlugins"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">title of this page</xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute name="ga" type="addr" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="visible" type="xsd:boolean" />
    <xsd:attribute name="type" use="optional">
      <xsd:annotation>
          <xsd:appinfo>level:expert</xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="text" />
          <xsd:enumeration value="2d" />
          <xsd:enumeration value="3d" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="size" use="optional">
      <xsd:annotation>
          <xsd:appinfo>level:expert</xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="fixed" />
          <xsd:enumeration value="scaled" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="backdrop" type="uri" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showtopnavigation" type="xsd:boolean" use="optional" />
    <xsd:attribute name="showfooter" type="xsd:boolean" use="optional" />
    <xsd:attribute name="shownavbar-top" type="xsd:boolean" use="optional" />
    <xsd:attribute name="shownavbar-bottom" type="xsd:boolean" use="optional" />
    <xsd:attribute name="shownavbar-left" type="xsd:boolean" use="optional" />
    <xsd:attribute name="shownavbar-right" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="group">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="page" type="page" />
        <xsd:element name="group" type="group" />
        <xsd:group ref="Widgets"/>
        <xsd:group ref="AvailablePlugins"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="nowidget" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="target" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="class" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="navbar">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="page" type="page" />
      <xsd:element name="group" type="group" />
      <xsd:group ref="Widgets"/>
      <xsd:group ref="AvailablePlugins"/>
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="position" type="navbarPositionType" use="required" />
    <xsd:attribute name="dynamic" type="xsd:boolean" use="optional" />
    <xsd:attribute name="width" type="xsd:string" use="optional" />
    <xsd:attribute name="scope" type="xsd:decimal" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="gauge">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1"  maxOccurs="unbounded"/> 
    </xsd:sequence>
    <xsd:attribute name="type" use="optional" >              
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Radial" />
          <xsd:enumeration value="RadialBargraph" />
          <xsd:enumeration value="RadialVertical" />
          <xsd:enumeration value="Linear" />
          <xsd:enumeration value="LinearBargraph" />
          <xsd:enumeration value="DisplaySingle" />
          <xsd:enumeration value="DisplayMulti" />
          <xsd:enumeration value="Level" />
          <xsd:enumeration value="Compass" />
          <xsd:enumeration value="WindDirection" />
          <xsd:enumeration value="Horizon" />
          <xsd:enumeration value="Led" />
          <xsd:enumeration value="Clock" />
          <xsd:enumeration value="Battery" />
          <xsd:enumeration value="StopWatch" />
          <xsd:enumeration value="Altimeter" />
          <xsd:enumeration value="TrafficLight" />
          <xsd:enumeration value="LightBulb" />
          <xsd:enumeration value="Odometer" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="subtype" use="optional" >              
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="type1" />
          <xsd:enumeration value="type2" />
          <xsd:enumeration value="type3" />
          <xsd:enumeration value="type4" />
          <xsd:enumeration value="type5" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="titleString" type="xsd:string" use="optional" />
    <xsd:attribute name="unitString" type="xsd:string" use="optional" />
    <xsd:attribute name="unitStringVisible" type="xsd:boolean" use="optional" />
    <xsd:attribute name="minValue" type="xsd:decimal" use="optional" />
    <xsd:attribute name="maxValue" type="xsd:decimal" use="optional" />
    <xsd:attribute name="size" type="xsd:decimal" use="optional" />
    <xsd:attribute name="threshold" type="xsd:decimal" use="optional" />
    <xsd:attribute name="thresholdRising" type="xsd:boolean" use="optional" />
    <xsd:attribute name="ledVisible" type="xsd:boolean" use="optional" />
    <xsd:attribute name="lcdVisible" type="xsd:boolean" use="optional" />
    <xsd:attribute name="trendVisible" type="xsd:boolean" use="optional" />
    <xsd:attribute name="autoScroll" type="xsd:boolean" use="optional" />
    <xsd:attribute name="valuesNumeric" type="xsd:boolean" use="optional" />
    <xsd:attribute name="lcdDecimals" type="xsd:nonNegativeInteger" use="optional" />
    <xsd:attribute name="background" use="optional" >              
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DARK_GRAY" />
          <xsd:enumeration value="SATIN_GRAY" />
          <xsd:enumeration value="LIGHT_GRAY" />
          <xsd:enumeration value="WHITE" />
          <xsd:enumeration value="BLACK" />
          <xsd:enumeration value="BEIGE" />
          <xsd:enumeration value="BROWN" />
          <xsd:enumeration value="RED" />
          <xsd:enumeration value="GREEN" />
          <xsd:enumeration value="BLUE" />
          <xsd:enumeration value="ANTHRACITE" />
          <xsd:enumeration value="MUD" />
          <xsd:enumeration value="PUNCHED_SHEET" />
          <xsd:enumeration value="CARBON" />
          <xsd:enumeration value="STAINLESS" />
          <xsd:enumeration value="BRUSHED_METAL" />
          <xsd:enumeration value="BRUSHED_STAINLESS" />
          <xsd:enumeration value="TURNED" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="framedesign" use="optional" >              
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="BLACK_METAL" />
          <xsd:enumeration value="METAL" />
          <xsd:enumeration value="SHINY_METAL" />
          <xsd:enumeration value="BRASS" />
          <xsd:enumeration value="STEEL" />
          <xsd:enumeration value="CHROME" />
          <xsd:enumeration value="GOLD" />
          <xsd:enumeration value="ANTHRACITE" />
          <xsd:enumeration value="TILTED_GRAY" />
          <xsd:enumeration value="TILTED_BLACK" />
          <xsd:enumeration value="GLOSSY_METAL" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="valueColor" use="optional" >              
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="RED" />
          <xsd:enumeration value="GREEN" />
          <xsd:enumeration value="BLUE" />
          <xsd:enumeration value="ORANGE" />
          <xsd:enumeration value="YELLOW" />
          <xsd:enumeration value="CYAN" />
          <xsd:enumeration value="MAGENTA" />
          <xsd:enumeration value="WHITE" />
          <xsd:enumeration value="GRAY" />
          <xsd:enumeration value="BLACK" />
          <xsd:enumeration value="RAITH" />
          <xsd:enumeration value="GREEN_LCD" />
          <xsd:enumeration value="JUG_GREEN" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="target" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="calendar">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="userid" type="xsd:string" use="required" />
        <xsd:attribute name="magiccookie" type="xsd:string" use="optional" />
        <xsd:attribute name="color" type="xsd:string" use="optional" />
		<xsd:attribute name="format" type="xsd:string" use="optional" />
		<xsd:attribute name="days" type="xsd:decimal" use="optional" />
      </xsd:extension>
	</xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="calendarlist">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="calendar" type="calendar" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="maxquantity" type="xsd:decimal" use="optional" />
    <xsd:attribute name="refresh" type="xsd:decimal" use="required" />
	<xsd:attribute name="days" type="xsd:decimal" use="optional" />
  </xsd:complexType>

  <!-- if you add a new widget, you need to list it here -->

  <xsd:group name="Widgets">
    <xsd:choice>
      <!-- visual effects -->
      <xsd:element name="line" type="line" />
      <xsd:element name="break" type="break" />
      <!-- list all possbile widgets here -->
      <xsd:element name="text" type="text" />
      <xsd:element name="switch" type="switch" />
      <xsd:element name="toggle" type="toggle" />
      <xsd:element name="trigger" type="trigger" />
      <xsd:element name="refresh" type="refresh" />
      <xsd:element name="pushbutton" type="pushbutton" />
      <xsd:element name="urltrigger" type="urltrigger" />
      <xsd:element name="multitrigger" type="multitrigger" />
      <xsd:element name="infotrigger" type="infotrigger" />
      <xsd:element name="designtoggle" type="designtoggle" />
      <xsd:element name="slide" type="slide" />
      <xsd:element name="reload" type="reload" />
      <xsd:element name="include" type="include" />
      <xsd:element name="info" type="info" />
      <xsd:element name="shade" type="info" />
      <xsd:element name="image" type="image" />
      <xsd:element name="imagetrigger" type="imagetrigger" />
      <xsd:element name="audio" type="audio" />
      <xsd:element name="video" type="video" />
      <xsd:element name="web" type="web" />
      <xsd:element name="rgb" type="rgb" />
      <xsd:element name="pagejump" type="pagejump" />
      <xsd:element name="wgplugin_info" type="wgplugin_info"/>
    </xsd:choice>
  </xsd:group>

  <!-- more fun part - all widgets - if you add a new widget, you need to define it here -->

  <xsd:complexType name="text">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
	<xsd:attribute ref="class" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="designtoggle">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="label" mixed="true">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="icon" type="icon" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="switch">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute name="on_value" type="xsd:string" use="optional" />
    <xsd:attribute name="off_value" type="xsd:string" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="trigger">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="value" use="required" />
    <xsd:attribute name="shortvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="shorttime" type="xsd:decimal" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Time in milliseconds that is accepted as shorttime.</xsd:documentation>
        <xsd:documentation xml:lang="de">Zeit in Millisekunden innerhalb der der Tastendruck als Kurzzeit interpretiert wird.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="refresh">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute ref="value" use="required" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="pushbutton">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="downValue" type="xsd:string" use="required" />
    <xsd:attribute name="upValue" type="xsd:string" use="required" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="urltrigger">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute ref="value" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute name="url" type="uri" use="required" />
    <xsd:attribute name="params" type="xsd:string" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="infotrigger">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="upvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="shortupvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="downvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="shortdownvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="uplabel" type="xsd:string" use="optional" />
    <xsd:attribute name="downlabel" type="xsd:string" use="optional" />
    <xsd:attribute name="shorttime" type="xsd:decimal" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Time in milliseconds that is accepted as shorttime.</xsd:documentation>
        <xsd:documentation xml:lang="de">Zeit in Millisekunden innerhalb der der Tastendruck als Kurzzeit interpretiert wird.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="change" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Might be 'absolute' or 'relative'.</xsd:documentation>
      </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="absolute" />
            <xsd:enumeration value="relative" />
          </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ref="min" />
    <xsd:attribute ref="max" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute name="infoposition" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="left" />
            <xsd:enumeration value="middle" />
            <xsd:enumeration value="right" />
          </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>
  
  <xsd:complexType name="rgb">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="3" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="multitrigger">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="showstatus" type="xsd:string" use="optional" />
    <xsd:attribute name="button1label" type="xsd:string" use="optional" />
    <xsd:attribute name="button1value" type="xsd:string" use="optional" />
    <xsd:attribute name="button2label" type="xsd:string" use="optional" />
    <xsd:attribute name="button2value" type="xsd:string" use="optional" />
    <xsd:attribute name="button3label" type="xsd:string" use="optional" />
    <xsd:attribute name="button3value" type="xsd:string" use="optional" />
    <xsd:attribute name="button4label" type="xsd:string" use="optional" />
    <xsd:attribute name="button4value" type="xsd:string" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="slide">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="min" />
    <xsd:attribute ref="max" />
    <xsd:attribute ref="step" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute name="send_on_finish" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="include">
    <xsd:attribute name="src" type="uri" use="required" />
  </xsd:complexType>
  
  <xsd:complexType name="reload">
    <xsd:sequence>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="info">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="class" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="wgplugin_info">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="variable" type="xsd:string" />
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="image">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="refresh" type="xsd:decimal" />
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="imagetrigger">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="uri" />
    <xsd:attribute name="suffix" type="xsd:string" use="required" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="refresh" type="xsd:decimal" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute name="sendValue" type="xsd:string" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="audio">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="threshold_value" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="volume" type="xsd:string" />
    <xsd:attribute name="autoplay" type="xsd:string" />
    <xsd:attribute name="loop" type="xsd:string" />
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="video">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="autoplay" type="xsd:string" />
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="web">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="frameborder" type="xsd:string" />
    <xsd:attribute name="background" type="xsd:string" />
    <xsd:attribute name="refresh" type="xsd:decimal" />
    <xsd:attribute name="scrolling" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="yes" />
          <xsd:enumeration value="no" />
          <xsd:enumeration value="auto" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="ga" type="addr" use="optional">
        <xsd:annotation>
            <xsd:appinfo>level:expert</xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="flavour" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="pagejump">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="widgetinfo" type="widgetinfo" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute ref="target" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="flavour" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
    <xsd:attribute name="path" type="xsd:string" use="optional"/>
    <xsd:attribute name="active_scope" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="path" />
          <xsd:enumeration value="target" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="clock">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="colorchooser">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="diagram">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="axis" type="axis" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="rrd" type="rrd" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="width" type="dimension" use="optional" />
    <xsd:attribute name="height" type="dimension" use="optional" />
    <xsd:attribute name="popup" type="xsd:boolean" use="optional" />
    <xsd:attribute name="previewlabels" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="series" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="period" type="xsd:string" use="optional" />
    <xsd:attribute name="gridcolor" type="xsd:string" use="optional" />
    <xsd:attribute ref="legend" use="optional" />
    <xsd:attribute ref="legendposition" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="tooltip" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="timeformat" use="optional" />
    <xsd:attribute ref="timeformatTooltip" use="optional" />
    <xsd:attribute name="zoomYAxis" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="seriesStart" use="optional" />
    <xsd:attribute ref="seriesEnd" use="optional" />
    <xsd:attribute ref="seriesResolution" use="optional" />
  </xsd:complexType>
  
  <xsd:complexType name="diagram_info">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="axis" type="axis" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="rrd" type="rrd" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="bind_click_to_widget" use="optional"/>
    <xsd:attribute ref="series" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="period" type="xsd:string" use="optional" />
    <xsd:attribute name="gridcolor" type="xsd:string" use="optional" />
    <xsd:attribute ref="legend" use="optional" />
    <xsd:attribute ref="legendposition" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="tooltip" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="timeformat" use="optional" />
    <xsd:attribute ref="timeformatTooltip" use="optional" />
    <xsd:attribute name="zoomYAxis" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="seriesStart" use="optional" />
    <xsd:attribute ref="seriesEnd" use="optional" />
    <xsd:attribute ref="seriesResolution" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="rss">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="xsd:string" use="required" />
    <xsd:attribute name="width" type="dimension" use="optional" />
    <xsd:attribute name="height" type="dimension" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="limit" type="xsd:integer" use="optional" />
    <xsd:attribute name="header" type="xsd:boolean" use="required" />
    <xsd:attribute name="date" type="xsd:boolean" use="optional" />
    <xsd:attribute name="content" type="xsd:boolean" use="optional" />
    <xsd:attribute name="snippet" type="xsd:boolean" use="optional" />
    <xsd:attribute name="showerror" type="xsd:boolean" use="optional" />
    <xsd:attribute name="ssl" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="linktarget" use="optional" />
    <xsd:attribute name="link" type="xsd:boolean" use="optional" />
    <xsd:attribute name="title" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="rsslog">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="src" type="xsd:string" use="required" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="limit" type="xsd:integer" use="optional" />
    <xsd:attribute name="mode" type="rss_mode" use="optional" />
    <xsd:attribute name="datetime" type="xsd:boolean" use="optional" />
    <xsd:attribute name="timeformat" type="xsd:string" use="optional" />
    <xsd:attribute name="filter" type="xsd:string" use="optional" />
    <xsd:attribute name="itemack" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="svg">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="strftime">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="lang" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="en" />
          <xsd:enumeration value="de" />
          <xsd:enumeration value="fr" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="format" type="xsd:string" use="optional" />
    <xsd:attribute ref="class" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="upnpcontroller">
    <xsd:attribute name="label" type="xsd:string" use="required" />
    <xsd:attribute name="player_ip_addr" type="xsd:string" use="required" />
    <xsd:attribute name="player_port" type="xsd:string" use="optional" />
    <xsd:attribute name="refresh" type="xsd:string" use="required" />
    <xsd:attribute name="debug" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="timeout">
    <xsd:attribute name="time" type="xsd:string" use="optional" />
    <xsd:attribute ref="target" use="required" />
    <xsd:attribute name="debug" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="break" />

  <xsd:complexType name="line">
     <xsd:sequence>
       <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />  
     </xsd:sequence>   
  </xsd:complexType>

  <xsd:complexType name="toggle">  
     <xsd:sequence>
       <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />  
       <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1" />       
       <xsd:element name="address" type="address" minOccurs="1"  maxOccurs="unbounded"/>   
     </xsd:sequence>   
     <xsd:attribute ref="styling" use="optional" />  
     <xsd:attribute ref="mapping" />  
     <xsd:attribute ref="align" use="optional" />  
     <xsd:attribute ref="flavour" use="optional" />  
   </xsd:complexType>

  <xsd:complexType name="axis">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="label" type="xsd:string" />
        <xsd:attribute name="min" type="xsd:decimal" />
        <xsd:attribute name="max" type="xsd:decimal" />
        <xsd:attribute name="position" >
          <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="left" />
                <xsd:enumeration value="right" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        <xsd:attribute name="unit" type="xsd:string" use="optional" />
        <xsd:attribute name="decimals" type="xsd:integer" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="rrd">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="yaxis" type="xsd:string" />
        <xsd:attribute name="color" type="xsd:string" />
        <xsd:attribute name="label" type="xsd:string" />
        <xsd:attribute name="scaling" type="xsd:decimal" />
        <xsd:attribute name="steps" type="xsd:boolean" />
        <xsd:attribute name="fill" type="xsd:boolean" />
        <xsd:attribute name="style" use="optional" >
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="lines" />
              <xsd:enumeration value="bars" />
              <xsd:enumeration value="points" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="barWidth" type="xsd:integer" use="optional" >
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Width of the bars in units of the x axis, contrary to most other measures that are specified in pixels. For instance, for time series the unit is milliseconds so 24 * 60 * 60 * 1000 produces bars with the width of a day.</xsd:documentation>
            <xsd:documentation xml:lang="de">Breite der Balken in Einheiten der X Achse, im Gegensatz zu anderen Werten die in Pixel angegeben werden. Für Zeitverläufe z.B. ist die Einheit Millisekunden, sodass 24 * 60 * 60 * 1000 Balken in der Breite von einem Tag erzeugt.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="align" use="optional" />
        <xsd:attribute name="datasourceIndex" type="xsd:integer" use="optional" default="0" >
          <xsd:annotation>
            <xsd:documentation xml:lang="en">If there are multiple datasources in the RRD file this index defines which one to show. Use "rrdtool info" to find the correct index.</xsd:documentation>
            <xsd:documentation xml:lang="de">Im Falle mehrerer Datenquellen in einer RRD-Datei kann hier der Index der Datenquelle angegeben werden, die angezeigt werden soll. Um den richtigen Index herauszufinden, kann "rrdtool info" verwendet werden.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="consolidationFunction" use="optional" default="AVERAGE" >
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Choose one of the consolidation functions of the RRDTool (see http://rrdtool.org).</xsd:documentation>
            <xsd:documentation xml:lang="de">Auswählen einer der verfügbaren Consolidation Functions des RRDTools (http://rrdtool.org).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="resolution" type="xsd:integer" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The standard resolution for retrieving data from the RRD file can be overriden with a custom value in seconds.</xsd:documentation>
            <xsd:documentation xml:lang="de">Die Standard-Auflösung für die Daten aus der RRD-Datei kann überschrieben werden mit einem eigenen Sekunden-Wert.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="offset" type="xsd:integer" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An offset in seconds to modify the timestamp of the retrieved data from the RRD file.</xsd:documentation>
            <xsd:documentation xml:lang="de">Offset in Sekunden, um die Zeitstempel der Daten aus der RRD-Datei zu modifizieren.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="infoaction">
    <xsd:sequence>
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="widgetinfo" type="widgetinfo" />
      <xsd:element name="widgetaction" type="widgetaction" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="widgetinfo">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="1">
      	<xsd:group ref="Infoaction_WidgetInfos"/>
      </xsd:choice>     
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="widgetaction">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="1">
      	<xsd:group ref="Infoaction_WidgetActions"/>
      </xsd:choice>     
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:group name="Infoaction_WidgetInfos">
    <xsd:choice>
      <xsd:element name="text" type="text" />
      <xsd:element name="info" type="info" />
    </xsd:choice>
  </xsd:group>
  
  <xsd:group name="Infoaction_WidgetActions">
    <xsd:choice>
      <xsd:element name="switch" type="switch" />
      <xsd:element name="toggle" type="toggle" />
      <xsd:element name="trigger" type="trigger" />
      <xsd:element name="pushbutton" type="pushbutton" />
      <xsd:element name="urltrigger" type="urltrigger" />
      <xsd:element name="multitrigger" type="multitrigger" />
      <xsd:element name="image" type="image" />
      <xsd:element name="imagetrigger" type="imagetrigger" />
      <xsd:element name="pagejump" type="pagejump" />
      <xsd:element name="info" type="info" />
    </xsd:choice>
  </xsd:group>
</xsd:schema>
