bundles/org.openhab.binding.tr064/src/main/resources/xsd/phonebook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="phonebooks" type="phonebooksType"/>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element type="xs:string" name="realName"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="numberType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute type="xs:string" name="vanity" use="optional"/>
                <xs:attribute type="xs:string" name="prio" use="optional"/>
                <xs:attribute type="xs:byte" name="quickdial" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="telephonyType">
        <xs:sequence>
            <xs:element type="xs:string" name="services"/>
            <xs:element type="numberType" name="number" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="category">
                <xs:simpleType>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="personType" name="person"/>
            <xs:element type="xs:byte" name="uniqueid"/>
            <xs:element type="telephonyType" name="telephony"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="phonebookType">
        <xs:sequence>
            <xs:element type="xs:int" name="timestamp"/>
            <xs:element type="contactType" name="contact" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:byte" name="owner"/>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="phonebooksType">
        <xs:sequence>
            <xs:element type="phonebookType" name="phonebook"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>