addons/binding/org.openhab.binding.ihc/wsdl/airlinkmanagement.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="utcs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="utcs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<wsdl:types>
<xsd:schema targetNamespace="utcs" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
<xsd:element name="enterRFConfiguration1" nillable="true" type="xsd:boolean">
</xsd:element>

<xsd:element name="exitRFConfiguration1" nillable="true" type="xsd:boolean">
</xsd:element>

<xsd:element name="enterRFTest1" nillable="true" type="xsd:boolean">
</xsd:element>

<xsd:element name="exitRFTest1" nillable="true" type="xsd:boolean">
</xsd:element>

<xsd:element name="testRFActuatorWithSerialNumber1" nillable="true" type="xsd:long">
</xsd:element>

<xsd:element name="testRFActuatorWithSerialNumber2" nillable="true" type="xsd:boolean">
</xsd:element>

<xsd:element name="waitForDeviceDetected1" nillable="true" type="xsd:int">
</xsd:element>

<xsd:complexType name="WSRFDevice">
<xsd:sequence>
<xsd:element name="batteryLevel" type="xsd:int">
</xsd:element>

<xsd:element name="deviceType" type="xsd:int">
</xsd:element>

<xsd:element name="serialNumber" type="xsd:long">
</xsd:element>

<xsd:element name="signalStrength" type="xsd:int">
</xsd:element>

<xsd:element name="version" type="xsd:int">
</xsd:element>

<xsd:element name="detected" type="xsd:boolean">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="waitForDeviceDetected2" nillable="true" type="tns:WSRFDevice">
</xsd:element>

<xsd:element name="waitForDeviceTestResult1" nillable="true" type="xsd:int">
</xsd:element>

<xsd:element name="waitForDeviceTestResult2" nillable="true" type="tns:WSRFDevice">
</xsd:element>

<xsd:complexType name="ArrayOfWSRFDevice">
<xsd:sequence>
<xsd:element name="arrayItem" maxOccurs="unbounded" nillable="true" type="tns:WSRFDevice">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="getDetectedDeviceList1" nillable="true" type="tns:ArrayOfWSRFDevice">
</xsd:element>
</xsd:schema>
</wsdl:types>

<wsdl:message name="enterRFConfigurationRequest">
</wsdl:message>

<wsdl:message name="enterRFConfigurationResponse">
<wsdl:part name="return" element="tns:enterRFConfiguration1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="exitRFConfigurationRequest">
</wsdl:message>

<wsdl:message name="exitRFConfigurationResponse">
<wsdl:part name="return" element="tns:exitRFConfiguration1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="enterRFTestRequest">
</wsdl:message>

<wsdl:message name="enterRFTestResponse">
<wsdl:part name="return" element="tns:enterRFTest1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="exitRFTestRequest">
</wsdl:message>

<wsdl:message name="exitRFTestResponse">
<wsdl:part name="return" element="tns:exitRFTest1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="testRFActuatorWithSerialNumberRequest">
<wsdl:part name="parameter1" element="tns:testRFActuatorWithSerialNumber1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="testRFActuatorWithSerialNumberResponse">
<wsdl:part name="return" element="tns:testRFActuatorWithSerialNumber2">
</wsdl:part>
</wsdl:message>

<wsdl:message name="waitForDeviceDetectedRequest">
<wsdl:part name="parameter2" element="tns:waitForDeviceDetected1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="waitForDeviceDetectedResponse">
<wsdl:part name="return" element="tns:waitForDeviceDetected2">
</wsdl:part>
</wsdl:message>

<wsdl:message name="waitForDeviceTestResultRequest">
<wsdl:part name="parameter3" element="tns:waitForDeviceTestResult1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="waitForDeviceTestResultResponse">
<wsdl:part name="return" element="tns:waitForDeviceTestResult2">
</wsdl:part>
</wsdl:message>

<wsdl:message name="getDetectedDeviceListRequest">
</wsdl:message>

<wsdl:message name="getDetectedDeviceListResponse">
<wsdl:part name="return" element="tns:getDetectedDeviceList1">
</wsdl:part>
</wsdl:message>

<wsdl:portType name="AirlinkManagementService">
<wsdl:operation name="enterRFConfiguration">
<wsdl:input name="inputMessageName1" message="tns:enterRFConfigurationRequest">
</wsdl:input>

<wsdl:output name="outputMessageName1" message="tns:enterRFConfigurationResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="exitRFConfiguration">
<wsdl:input name="inputMessageName2" message="tns:exitRFConfigurationRequest">
</wsdl:input>

<wsdl:output name="outputMessageName2" message="tns:exitRFConfigurationResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="enterRFTest">
<wsdl:input name="inputMessageName3" message="tns:enterRFTestRequest">
</wsdl:input>

<wsdl:output name="outputMessageName3" message="tns:enterRFTestResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="exitRFTest">
<wsdl:input name="inputMessageName4" message="tns:exitRFTestRequest">
</wsdl:input>

<wsdl:output name="outputMessageName4" message="tns:exitRFTestResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="testRFActuatorWithSerialNumber">
<wsdl:input name="inputMessageName5" message="tns:testRFActuatorWithSerialNumberRequest">
</wsdl:input>

<wsdl:output name="outputMessageName5" message="tns:testRFActuatorWithSerialNumberResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="waitForDeviceDetected">
<wsdl:input name="inputMessageName6" message="tns:waitForDeviceDetectedRequest">
</wsdl:input>

<wsdl:output name="outputMessageName6" message="tns:waitForDeviceDetectedResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="waitForDeviceTestResult">
<wsdl:input name="inputMessageName7" message="tns:waitForDeviceTestResultRequest">
</wsdl:input>

<wsdl:output name="outputMessageName7" message="tns:waitForDeviceTestResultResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="getDetectedDeviceList">
<wsdl:input name="inputMessageName8" message="tns:getDetectedDeviceListRequest">
</wsdl:input>

<wsdl:output name="outputMessageName8" message="tns:getDetectedDeviceListResponse">
</wsdl:output>
</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="AirlinkManagementServiceBinding" type="tns:AirlinkManagementService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
</soap:binding>

<wsdl:operation name="enterRFConfiguration">
<soap:operation soapAction="enterRFConfiguration" style="document">
</soap:operation>

<wsdl:input name="inputMessageName1">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName1">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="exitRFConfiguration">
<soap:operation soapAction="exitRFConfiguration" style="document">
</soap:operation>

<wsdl:input name="inputMessageName2">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName2">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="enterRFTest">
<soap:operation soapAction="enterRFTest" style="document">
</soap:operation>

<wsdl:input name="inputMessageName3">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName3">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="exitRFTest">
<soap:operation soapAction="exitRFTest" style="document">
</soap:operation>

<wsdl:input name="inputMessageName4">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName4">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="testRFActuatorWithSerialNumber">
<soap:operation soapAction="testRFActuatorWithSerialNumber" style="document">
</soap:operation>

<wsdl:input name="inputMessageName5">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName5">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="waitForDeviceDetected">
<soap:operation soapAction="waitForDeviceDetected" style="document">
</soap:operation>

<wsdl:input name="inputMessageName6">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName6">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="waitForDeviceTestResult">
<soap:operation soapAction="waitForDeviceTestResult" style="document">
</soap:operation>

<wsdl:input name="inputMessageName7">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName7">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="getDetectedDeviceList">
<soap:operation soapAction="getDetectedDeviceList" style="document">
</soap:operation>

<wsdl:input name="inputMessageName8">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName8">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="AirlinkManagementServiceService">
<wsdl:port name="AirlinkManagementServiceBindingPort" binding="tns:AirlinkManagementServiceBinding">
<soap:address location="http://localhost/AirlinkManagementService">
</soap:address>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
